@import "../assets/variables";

.Nav {
  display: flex;
  font-size: 3em;
  width: 100%;
  height: 40%;
  margin-left: auto;
  margin-right: auto;

  .navLink,
  .selectedNavLink {
    position: relative;
    text-align: center;
    text-shadow: 3px 3px 2px black;
    color: $accentColor;
    background-color: $bgColorDark;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    .centerText {
      height: 100%;
      width: 100%;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      left: 0;
    }
  }

  .contactLink {
    background-image: $contactNavImg;
  }
  .menuLink {
    background-image: $menuNavImg;
  }
  .homeLink {
    background-image: $homeNavImg;
  }

  .navLink > .centerText {
    background-color: rgba(14, 16, 18, 0.246);
    &:hover {
      background-color: rgba(250, 125, 0, 0.196);
    }
  }

  .navLink {
    flex-grow: 0.5;
    transition: flex-grow 0.5s ease-in-out;
  }
  .navLink:hover {
    flex-grow: 1;
    transition: flex-grow 0.5s ease-in-out;
  }
  .selectedNavLink {
    flex-grow: 1;
    transition: flex-grow 0.5s ease-in-out;
  }
}
